body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff; /* Cor de fundo opcional */
}

form {
  width: 400px; /* largura desejada do formulário */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  width: 500px; /* ou o tamanho desejado */
  margin: 0 auto; /* centraliza horizontalmente */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #0772e3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
/* styles.css */
.header-container {
  background-color: #f8f8f8; /* Cor de fundo do cabeçalho */
  padding: 20px; /* Espaçamento interno do cabeçalho */
  text-align: center; /* Centraliza o conteúdo do cabeçalho */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  max-width: 150px; /* Define o tamanho máximo da imagem da logomarca */
  height: auto; /* Altura da imagem ajustada automaticamente */
}

.app-container {
  background-image: url('/src/assets/.jpg'); /* URL da imagem de fundo */
  background-size: cover; /* Ajusta a imagem de fundo para cobrir todo o container */
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
}
body {
  background-image: url('src/assets/.jpg'); /* Substitua pelo caminho correto da sua imagem */
  background-size: 1000px; /* Para ajustar a imagem ao tamanho da tela */
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
  
}
.invalid {
  border: 1px solid red; /* Adicione um estilo visual para indicar que o campo é inválido */
}





